.form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

.input {
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #e2e8f0;
  color: #333;
}

.textarea {
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #e2e8f0;
  color: #333;
  resize: none;
  height: 120px;
}

.select {
  padding: 12px;
  border-radius: 8px;
}

.submit-button {
  background-color: #161d28;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.title-add_dream {
  font-size: "20px";
  font-weight: bold;
  margin-bottom: "16px";
  color: grey;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 1em 0;
};