.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  background-color: #222;
  color: #fff;
}

.sidebar-header {
  padding: 10px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  background-color: #111;
}

.sidebar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar-link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.sidebar-link:hover {
  background-color: #444;
}
